@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

.box-area{
    width: 930px;
    width: 100%;
}

.right-box{
    padding: 40px 30px 40px 40px;
}


h3{
    color: #6e6e6e;
}

a{
    text-decoration: none;
    color: inherit;
}

#patients th {
    background-color: #2b98af;
    color: white;
    font-weight: 1;
}

#patients td {
    color: #6E6E6E;
}

@media only screen and (max-width: 768px){

    .box-area{
        margin: 0 10px
    }
}

#biljeska{
    height:100px;
}

.centered-text {
            text-align: center;
        }
.custom-color {
    color: #5c5c5c
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.popup-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
}

.popup-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.popup-menu li {
    padding: 8px;
}

.popup-menu a {
    text-decoration: none;
    color: #333;
}

.popup-menu a:hover {
    background-color: #ddd;
}