@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

.box-area{
    width: 930px;
    width: 100%;
}

.right-box{
    padding: 40px 30px 40px 40px;
}


h3, h5{
    color: #6e6e6e;
}

a{
    text-decoration: none;
    color: inherit;
}

#patients th {
    background-color: #2b98af;
    color: white;
    font-weight: 1;
}

#patients td {
    color: #6E6E6E;
}

#patient th {
    background-color: #2b98af;
    color: white;
    font-weight: 1;
}

#patient td {
    color: #6E6E6E;
}

@media only screen and (max-width: 768px){

    .box-area{
        margin: 0 10px
    }
}

#biljeska{
    height:100px;
}

.centered-text {
            text-align: center;
        }
.custom-color {
    color: #5c5c5c
}
