<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="script.js"></script>

    <title>eDnevnik tlaka - Pacijentovi zapisi</title>
</head>
<body>

<div class="container mt-3 p-5 d-flex justify-content-center align-items-center ">
    <div class="row justify-content-center border rounded-4 p-5 bg-white shadow box-area">
        <div class="col-md-12">
            <div class="row p-3 mb-2 custom-bg text-white">
                <div class="col-auto me-auto">
                    <h4>eDnevnik tlaka</h4>
                    <span>Sučelje za liječnike</span>
                </div>
                <div class="col-auto ms-auto">
                    <span th:text="${currentUser.getFname()}"></span>
                    <span th:text="${currentUser.getLname()}"></span>
                    <span>, dr.med.</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-1">
                    <a href="patients">
                        <img src="images/back.png" class="img" style="width: 45px;">
                    </a>
                </div>
                <div class="col-1">
                    <a href="patients">
                        <img src="images/home.png" class="img" style="width: 45px;">
                    </a>
                </div>
                <div class="col-1 ms-auto me-5">
                    <button onclick="window.location.href='login'" class="btn btn-outline-danger" type="button">Odjava</button>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h3>Pregled dnevnika tlaka</h3>
                </div>
                <div class="col-6">
                    <h5>Pregled kronične terapije</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-6 left-block">
                    <form class="row mb-2">
                        <div class="row">
                            <div class="col-2 mb-2">
                                <label for="fname" class="col-form-label">Ime:</label>
                            </div>
                            <div class="col-auto mb-2">
                                <input th:value="${user.fname}" type="text" class="form-control" id="fname" name="fname" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 mb-2">
                                <label for="lname" class="form-label">Prezime:</label>
                            </div>
                            <div class="col-auto mb-2">
                                <input th:value="${user.lname}" type="text" class="form-control" id="lname" name="lname" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 mb-2">
                                <label for="birthday" class="form-label">Datum rođenja:</label>
                            </div>
                            <div class="col-auto mb-2">
                                <input th:value="${user.birthday}" type="text" class="form-control" id="birthday" name="birthday" disabled>
                            </div>
                        </div >
                        <div class="row">
                            <div class="col-2 mb-2">
                                <label for="mbo" class="form-label">MBO:</label>
                            </div>
                            <div class="col-auto mb-2">
                                <input th:value="${user.mbo}" type="text" class="form-control" id="mbo" name="mbo" disabled>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-6 right-block">
                    <table id="patients" class="table table-md table-borderless table-hover align-middle">
                        <thead>
                        <tr>
                            <th>Naziv lijeka</th>
                            <th>Kol.</th>
                            <th>Vrijeme primj.</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider text-nowrap">
                        <tr th:each="therapy : ${therapyPlanList}">
                            <td th:text="${therapy.nameMedicine}">Primjer</td>
                            <td th:text="${therapy.quantity}">Primjer</td>
                            <td th:text="${therapy.dayPart}">Primjer</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="chartdiv"></div>
            <table id="patient" class="table table-md table-borderless table-hover align-middle">
                <thead>
                <tr>
                    <th>Datum</th>
                    <th>Vrijeme mjer.</th>
                    <th>Tlak sist.</th>
                    <th>Tlak dijast.</th>
                    <th>Puls</th>
                    <th>Bilješka</th>
                    <th>Terapija</th>
                    <th>Kol.</th>
                    <th>Vrijeme konz.</th>
                </tr>
                </thead>
                <tbody class="table-group-divider text-nowrap">
                <!-- Iterate over each record -->
                <tr th:each="record : ${recordPage.content}" th:class="${record.emergency} ? 'table-danger' : ''">
                    <td th:text="${record.date}">Primjer</td>
                    <td th:text="${record.time}">Primjer</td>
                    <td th:text="${record.sysPressure}">Primjer</td>
                    <td th:text="${record.diasPressure}">Primjer</td>
                    <!-- Check if heart rate is not 0, then display it -->
                    <td th:if="${record.heartRate != 0}" th:text="${record.heartRate}">Primjer</td>
                    <!-- Otherwise, display an empty cell -->
                    <td th:unless="${record.heartRate != 0}"></td>
                    <td th:text="${record.note}" class="truncate" onmouseover="showFullText(event, this)">Primjer</td>
                    <!-- Check if the record has associated therapies -->
                    <td><span th:text="${recordTherapiesMap.get(record)?.nameMedicine}"></span></td>
                    <td><span th:text="${recordTherapiesMap.get(record)?.quantity}"></span></td>
                    <td><span th:text="${recordTherapiesMap.get(record)?.time}"></span></td>
                </tr>
                </tbody>
            </table>

            <div id="pagination-container" class="d-flex justify-content-center" th:if="${recordPage.totalPages > 1}">
                <ul class="pagination">
                    <li th:if="${recordPage.hasPrevious}" class="page-item">
                        <a class="page-link" th:href="@{'/showPatientOverview?id=' + ${user.id} + '&page=' + ${recordPage.number - 1} + '#pagination-container'}">Prethodna</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(0, recordPage.totalPages - 1)}" class="page-item"
                        th:classappend="${i == recordPage.number} ? 'active'">
                        <a class="page-link" th:href="@{'/showPatientOverview?id=' + ${user.id} + '&page=' + *{i} + '#pagination-container'}" th:text="${i + 1}"></a>
                    </li>
                    <li th:if="${recordPage.hasNext}" class="page-item">
                        <a class="page-link" th:href="@{'/showPatientOverview?id=' + ${user.id} + '&page=' + ${recordPage.number + 1} + '#pagination-container'}">Sljedeća</a>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</div>
<script>
    /**
     * ---------------------------------------
     * This demo was created using amCharts 5.
     *
     * For more information visit:
     * https://www.amcharts.com/
     *
     * Documentation is available at:
     * https://www.amcharts.com/docs/v5/
     * ---------------------------------------
     */



    // Create root element
    // https://www.amcharts.com/docs/v5/getting-started/#Root_element
    var root = am5.Root.new("chartdiv");

    const myTheme = am5.Theme.new(root);

    // Move minor label a bit down
    myTheme.rule("AxisLabel", ["minor"]).setAll({
      dy: 1
    });

    // Tweak minor grid opacity
    myTheme.rule("Grid", ["minor"]).setAll({
      strokeOpacity: 0.08
    });

    // Set themes
    // https://www.amcharts.com/docs/v5/concepts/themes/
    root.setThemes([
      am5themes_Animated.new(root),
      myTheme
    ]);


    // Create chart
    // https://www.amcharts.com/docs/v5/charts/xy-chart/
    var chart = root.container.children.push(am5xy.XYChart.new(root, {
      panX: false,
      panY: false,
      wheelX: "panX",
      wheelY: "zoomX",
      paddingLeft: 0
    }));


    // Add cursor
    // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
    var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {
      behavior: "zoomX"
    }));
    cursor.lineY.set("visible", false);

    var userId = [[${user.id}]];
    // Fetch data for both systolic and diastolic pressures
    fetch('/api/chart/data?userId=' + userId)
  .then(response => response.json())
  .then(data => {
    // Sort the data array by time in ascending order
    data.sort((a, b) => new Date(a.date).getTime() - new Date(b.date).getTime());

    // Log the fetched data to console for debugging
    console.log('Fetched data:', data);

    // Initialize an empty array to store the processed data
    var chartData = [];

    // Iterate over each item in the sorted data
    data.forEach((item, index) => {
      // Transform the date into Unix time type
      var unixTime = new Date(item.date).getTime();

      // Check if this is not the first item and the date is the same as the previous item
      if (index > 0 && item.date === data[index - 1].date) {
        // Increment the date by a small fraction to make it distinct
        unixTime += (index % 10) * 10800000; // Adjust the fraction as needed
      }

      // Push the transformed data to the chartData array
      chartData.push({
        date: unixTime,
        value: item.sysPressure // Adjust this based on your data structure
      });
    });

    // Set the chart data to the processed chartData array
    chart.data = chartData;
    console.log('Transformed data:', chart.data);
    series.data.setAll(chart.data);

  })
  .catch(error => {
    console.error('Error fetching chart data:', error);
  });


    // Create axes
    // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
    var xAxis = chart.xAxes.push(am5xy.DateAxis.new(root, {
  maxDeviation: 0,
  baseInterval: {
    timeUnit: "hour",
    count: 3 // Set the number of hours as the interval
  },
  renderer: am5xy.AxisRendererX.new(root, {
    minorGridEnabled: true,
    minGridDistance: 200,
    minorLabelsEnabled: true
  }),
  tooltip: am5.Tooltip.new(root, {})
}));

// Format for main intervals (3 hours)
xAxis.set("dateFormats", {
  hour: "MM-dd HH:mm" // Format for hours, minutes, month, and date
});

// Format for minor intervals (hours and minutes)
xAxis.set("minorDateFormats", {
  hour: "HH:mm" // Format for hours and minutes
});

    var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
      renderer: am5xy.AxisRendererY.new(root, {})
    }));


    // Add series
    // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
    var series = chart.series.push(am5xy.LineSeries.new(root, {
      name: "Series",
      xAxis: xAxis,
      yAxis: yAxis,
      valueYField: "value",
      valueXField: "date",
      tooltip: am5.Tooltip.new(root, {
        labelText: "{valueY}"
      })
    }));

    // Add series for diastolic pressure
    var seriesDiastolic = chart.series.push(am5xy.LineSeries.new(root, {
      name: "Diastolic",
      xAxis: xAxis,
      yAxis: yAxis,
      valueYField: "diastolicValue",
      valueXField: "date",
      tooltip: am5.Tooltip.new(root, {
        labelText: "{valueY}"
      })
    }));


    // Actual bullet
    series.bullets.push(function () {
      var bulletCircle = am5.Circle.new(root, {
        radius: 5,
        fill: series.get("fill")
      });
      return am5.Bullet.new(root, {
        sprite: bulletCircle
      })
    })

    // Actual bullet for diastolic series
    seriesDiastolic.bullets.push(function () {
      var bulletCircle = am5.Circle.new(root, {
        radius: 5,
        fill: seriesDiastolic.get("fill")
      });
      return am5.Bullet.new(root, {
        sprite: bulletCircle
      })
    });


    // Add scrollbar
    // https://www.amcharts.com/docs/v5/charts/xy-chart/scrollbars/
    chart.set("scrollbarX", am5.Scrollbar.new(root, {
      orientation: "horizontal"
    }));





    // Make stuff animate on load
    // https://www.amcharts.com/docs/v5/concepts/animations/
    series.appear(1000);
    chart.appear(1000, 100);
</script>

</body>
</html>