<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var thymeleafValue = document.getElementById('myElement').getAttribute('data-myvalue');

            // Now send this value using AJAX
            fetch('/your-endpoint', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: JSON.stringify({ value: thymeleafValue })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                // Handle any response here
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
    <script src="script.js"></script>
    <title>eDnevnik tlaka - Pacijentovi zapisi</title>
</head>
<body>

<div class="container mt-3 p-5 d-flex justify-content-center align-items-center ">
    <div class="row justify-content-center border rounded-4 p-5 bg-white shadow box-area">
        <div class="col-md-12">
            <div class="row p-3 mb-2 bg-success text-white">
                <div class="col-auto me-auto">
                    <h4>eDnevnik tlaka</h4>
                    <span>Sučelje za liječnike</span>
                </div>
                <div class="col-auto ms-auto">
                    <span th:text="${currentUser.getFname()}"></span>
                    <span th:text="${currentUser.getLname()}"></span>
                    <span>, dr.med.</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-1">
                    <a href="patients">
                        <img src="images/back.png" class="img" style="width: 45px;">
                    </a>
                </div>
                <div class="col-1">
                    <a href="patients">
                        <img src="images/home.png" class="img" style="width: 45px;">
                    </a>
                </div>
                <div class="col-1 ms-auto me-5">
                    <button onclick="window.location.href='login'" class="btn btn-outline-danger" type="button">Odjava</button>
                </div>
            </div>
            <h3>Pregled dnevnika tlaka</h3>
            <form class="row mb-2">
                <div class="row">
                    <div class="col-2 mb-2">
                        <label for="fname" class="col-form-label">Ime:</label>
                    </div>
                    <div class="col-auto mb-2">
                        <input th:value="${user.fname}" type="text" class="form-control" id="fname" name="fname" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mb-2">
                        <label for="lname" class="form-label">Prezime:</label>
                    </div>
                    <div class="col-auto mb-2">
                        <input th:value="${user.lname}" type="text" class="form-control" id="lname" name="lname" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mb-2">
                        <label for="birthday" class="form-label">Datum rođenja:</label>
                    </div>
                    <div class="col-auto mb-2">
                        <input th:value="${user.birthday}" type="text" class="form-control" id="birthday" name="birthday" disabled>
                    </div>
                </div >
                <div class="row">
                    <div class="col-2 mb-2">
                        <label for="mbo" class="form-label">MBO:</label>
                    </div>
                    <div class="col-auto mb-2">
                        <input th:value="${user.mbo}" type="text" class="form-control" id="mbo" name="mbo" disabled>
                    </div>
                </div>

            </form>
            <table id="patients" class="table table-md table-borderless table-hover align-middle">
                <thead>
                <tr>
                    <th>Datum</th>
                    <th>Vrijeme</th>
                    <th>Tlak - sistolički (mmHg)</th>
                    <th>Tlak - dijastolički (mmHg)</th>
                    <th>Otkucaji srca (u min)</th>
                    <th>Bilješka</th>
                    <th>Terapija</th>
                </tr>
                </thead>
                <tbody class="table-group-divider text-nowrap">
                <tr th:each="record : ${recordList}">
                    <td th:text="${record.date}">Primjer</td>
                    <td th:text="${record.time}">Primjer</td>
                    <td th:text="${record.sysPressure}">Primjer</td>
                    <td th:text="${record.diasPressure}">Primjer</td>
                    <td th:text="${record.heartRate}">Primjer</td>
                    <td th:text="${record.note}">Primjer</td>
                    <input type="number" id="myElement" th:data-myvalue="${record.id}" hidden>
                    <!--<td><a><img src="images/pill.png" class="img-fluid" data-toggle="modal" data-target="#myModal" style="width: 20px;"></a></td> -->
                    <td><button type="button" onclick="function()" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Prikaži</button></td>
                </tr>
                </tbody>
            </table>

            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal body -->
                        <div class="modal-body">
                            <table class="table table-striped align-middle">
                                <thead>
                                <tr>
                                    <th>Naziv lijeka</th>
                                    <th>Doza (mg)</th>
                                    <th>Količina</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="therapy : ${therapyList}">
                                    <td th:text="${therapy.nameMedicine}">Primjer</td>
                                    <td th:text="${therapy.dosage}">Primjer</td>
                                    <td th:text="${therapy.quantity}">Primjer</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


</body>
</html>