<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Telemed Promjena Lozinke</title>
</head>

<body class="container">

<div class="row justify-content-center align-items-center min-vh-100">

    <div class="row justify-content-center">

        <div class="col-md-8">
            <div class="border rounded-4 p-3 bg-white shadow box-area">
                <form action="changePasswordAction">
                    <div class="row align-items-center">
                        <div class="header-text mb-4">
                            <h1 class="mb-4">Promjena privremene lozinke</h1>
                            <p class="text-start">Vaš liječnik Vam je dodijelio privremenu lozinku. Radi sigurnosti istu morate odmah promijeniti.</p>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="newPassword" class="form-label">Unesite novu lozinku:</label>
                            <input type="password" class="form-control form-control-lg bg-light fs-6" id="newPassword" name="password" th:value="${newPassword}">
                        </div>
                        <div class="col-md-12 mb-1">
                            <label for="confirmNewPassword" class="form-label">Ponovno unesite novu lozinku:</label>
                            <input type="password" class="form-control form-control-lg bg-light fs-6" id="confirmNewPassword" name="confirmPassword" th:value="${confirmPassword}">
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="input-group" style="margin-top: 10px;">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="allowAccess" name="allowAccess">
                                    <label class="form-check-label" for="allowAccess">Dopusti liječniku pristup mojim podacima</label>
                                </div>
                            </div>
                        </div>
                        <p th:if="${accessError}" class="text-danger" style="margin-top: 10px;">Morate dopustiti liječniku pristup podacima!</p>
                        <p th:if="${samePasswordError}" class="text-danger">Nova lozinka ne smije biti ista kao stara!</p>
                        <p th:if="${passwordMismatch}" class="text-danger">Lozinke nisu iste!</p>
                        <p th:if="${passwordLengthError}" class="text-danger">Unesite lozinku od barem 5 znakova!</p>
                        <div class="input-group mb-5 d-flex justify-content-between">
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="input-group">
                                <button class="btn btn-og btn-primary w-100 fs-6" type="submit">Spremi</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>

    </div>

</div>

</body>
</html>