<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>eDnevnik tlaka - Promjena lozinke</title>
</head>

<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <!-- Top Navigation Menu -->
            <div class="topnav">
                <a href="#" class="active" id="heading-menu">eDnevnik tlaka</a>
                <!-- Navigation links (hidden by default) -->
                <div id="myLinks">
                    <a href="/login"> Povratak na prijavu</a>
                </div>
                <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="pt-2">
                <div class="centered-text row mb-2 custom-color fs-4">
                    <span>Promjena lozinke</span>
                </div>
            </div>
            <div class="row mb-2 custom-color fs-6">
                <span>Napomena: Vaš liječnik Vam je dodijelio privremenu lozinku. Radi sigurnosti istu morate odmah promijeniti.</span>
            </div>
            <form action="changePasswordAction">
                <div class="form-group row">
                    <div class="col-12">
                        <label for="newPassword" class="col-form-label">Unesite novu lozinku:</label>
                        <input type="password" th:value="${newPassword}" class="form-control" id="newPassword" name="password" required>
                    </div>
                    <div class="col-12">
                        <label for="confirmNewPassword" class="col-form-label">Ponovno unesite novu lozinku:</label>
                        <input type="password" th:value="${confirmPassword}" class="form-control" id="confirmNewPassword" name="confirmPassword" required>
                    </div>
                    <div class="col-12">
                        <div class="form-check d-flex align-items-center mt-2">
                            <label for="allowAccess" class="mb-0 me-5"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">
                                Pročitao sam i dajem privolu </a>za korištenje mojih podataka</label>
                            <input type="checkbox" id="allowAccess" class="form-check-input mt-0" name="allowAccess">
                        </div>
                    </div>
                    <p th:if="${accessError}" class="text-danger" style="margin-top: 10px;">Da biste se mogli služiti aplikacijom morate dati privolu za korištenje Vaših podataka!</p>
                    <p th:if="${samePasswordError}" class="text-danger">Nova lozinka ne smije biti ista kao stara!</p>
                    <p th:if="${passwordMismatch}" class="text-danger">Lozinke nisu iste!</p>
                    <p th:if="${passwordLengthError}" class="text-danger">Unesite lozinku od barem 5 znakova!</p>
                    <div class="col-12">
                        <div class="input-group mt-4">
                            <button class="btn btn-og btn-primary col-12 mb-2" type="submit">Spremi</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Privola za Korištenje Osobnih Podataka</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Na web stranici www.ednevnik-tlaka.net, prikupljaju se, obrađuju i pohranjuju osobni podaci
                registriranih korisnika. Podaci koji se prikupljaju su: ime i prezime, datum rođenja,
                matični broj osiguranika pri HZZO-u, broj mobilnog telefona, email adresa, vrijednosti izmjerenog
                sistoličkog i dijastoličkog tlaka, puls te konzumirana redovita i izvanredna terapija. Svi osobni
                podaci preneseni putem Interneta zaštićeni su koristeći Secure Socket Layer (SSL) tehnologiju. Ovo
                osigurava da su svi podaci šifrirani tijekom prijenosa, čime se sprječava neovlašteni pristup ili
                presretanje podataka tijekom komunikacije između vašeg uređaja i naših poslužitelja. Vaši osobni
                podaci bit će pohranjeni uz poštovanje najviših standarda sigurnosti kako bi se osigurala njihova
                zaštita od neovlaštenog pristupa ili zloupotrebe. Svi naši poslužitelji nalaze se unutar teritorija
                Europske unije, osiguravajući time da se svi vaši osobni podaci obrađuju u skladu s Općom
                uredbom o zaštiti podataka (GDPR). Ovaj pristup osigurava visoke standarde sigurnosti i poštivanje
                relevantnih zakona o zaštiti podataka na području Europske unije. Imate pravo u bilo kojem trenutku
                povući svoju privolu za korištenje osobnih podataka, međutim to znači da se više nećete moći služiti
                aplikacijom. Povlačenjem privole sve vaše podatke ćemo s naših poslužitelja nepovratno izbrisati.
                Povlačenje privole možete izvršiti slanjem zahtjeva na info@ednevnik-tlaka.net.
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Zatvori</button>
            </div>

        </div>
    </div>
</div>

</body>
</html>