<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="script.js"></script>
    <title>eDnevnik tlaka - Početna stranica</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <!-- Top Navigation Menu -->
            <div class="topnav">
                <a th:href="@{'/records'}" class="active" id="heading-menu">eDnevnik tlaka</a>
                <!-- Navigation links (hidden by default) -->
                <div id="myLinks">
                    <a th:href="@{'/records'}"> Pregled mjerenja tlaka</a>
                    <a th:href="@{'/patientNewRecord'}"> Unesi novo mjerenje</a>
                    <a th:href="@{'/patientEnterTherapy'}"> Dodaj/uredi kroničnu terapiju</a>
                    <a th:href="@{'/doctorAdvice'}"> Savjeti doktora</a>
                    <a th:href="@{'/showEditPatientData'}"> Uredi moje podatke</a>
                    <a th:href="@{'/pdf'}">Izvezi zapise u PDF</a>
                    <a th:href="@{'/changePassword'}"> Promijeni lozinku</a>
                    <a th:href="@{'/login'}"> Odjava</a>
                </div>
                <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="pt-2">
                <div class="centered-text row mb-2 custom-color fs-4">
                    <span>Pregled mjerenja tlaka</span>
                </div>
                <div class="centered-text custom-color fs-3">
                    <span th:text="${currentUser.getFname()}"></span>
                    <span th:text="${currentUser.getLname()}"></span>
                </div>
            </div>
            <div class="row mb-2 custom-color fs-6">
                <span>Napomena: Prije nego što krenete unositi Vaše rezultate mjerenja tlaka, molimo Vas da unesete svoju kroničnu terapiju.</span>
            </div>
            <div id="chartdiv"></div>
            <table id="patients" class="table table-md table-borderless table-hover align-middle">
                <thead>
                <tr>
                    <th>Datum</th>
                    <th>Vrijeme</th>
                    <th>Sis. tlak</th>
                    <th>Dijas. tlak</th>
                    <!--<th>Puls</th>-->
                    <!--<th>Bilješka</th>-->
                    <th>Uredi</th>
                    <!--<th>Obriši</th>-->
                </tr>
                </thead>
                <tbody class="table-group-divider text-nowrap">
                <tr th:each="record : ${recordPage.content}">
                    <td th:text="${record.date}">Primjer</td>
                    <td th:text="${record.time}">Primjer</td>
                    <td th:text="${record.sysPressure}">Primjer</td>
                    <td th:text="${record.diasPressure}">Primjer</td>
                    <!--<td th:text="${record.heartRate}">Primjer</td>-->
                    <!--<td th:text="${record.note}" class="truncate">Primjer</td>-->
                    <!-- Add a class based on the date condition -->
                    <td>
                        <a th:href="@{'/showEditRecord?id='+ ${record.id}}" class="img-link" th:attr="data-date=${record.date}">
                            <img src="images/edit.png" class="img-fluid" style="width: 20px;">
                        </a>
                    </td>
                    <!--<td><a th:href="@{'/deleteRecord?id='+ ${record.id}}"><img src="images/trash_can.png" class="img-fluid" style="width: 20px;"></a></td>-->
                </tr>
                </tbody>

            </table>
            </table>
            <div class="d-flex justify-content-center">
                <div th:if="${recordPage.totalPages > 1}">
                    <ul class="pagination">
                        <li th:if="${recordPage.hasPrevious}" class="page-item">
                            <a class="page-link" th:href="@{'/records?page=' + ${recordPage.number - 1}}">Prethodna</a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(0, recordPage.totalPages - 1)}" class="page-item"
                            th:classappend="${i == recordPage.number} ? 'active'">
                            <a class="page-link" th:href="@{'/records?page=' + ${i}}">[[${i + 1}]]</a>
                        </li>
                        <li th:if="${recordPage.hasNext}" class="page-item">
                            <a class="page-link" th:href="@{'/records?page=' + ${recordPage.number + 1}}">Sljedeća</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    /**
     * ---------------------------------------
     * This demo was created using amCharts 5.
     *
     * For more information visit:
     * https://www.amcharts.com/
     *
     * Documentation is available at:
     * https://www.amcharts.com/docs/v5/
     * ---------------------------------------
     */



    // Create root element
    // https://www.amcharts.com/docs/v5/getting-started/#Root_element
    var root = am5.Root.new("chartdiv");

    const myTheme = am5.Theme.new(root);

    // Move minor label a bit down
    myTheme.rule("AxisLabel", ["minor"]).setAll({
      dy: 1
    });

    // Tweak minor grid opacity
    myTheme.rule("Grid", ["minor"]).setAll({
      strokeOpacity: 0.08
    });

    // Set themes
    // https://www.amcharts.com/docs/v5/concepts/themes/
    root.setThemes([
      am5themes_Animated.new(root),
      myTheme
    ]);


    // Create chart
    // https://www.amcharts.com/docs/v5/charts/xy-chart/
    var chart = root.container.children.push(am5xy.XYChart.new(root, {
      panX: false,
      panY: false,
      wheelX: "panX",
      wheelY: "zoomX",
      paddingLeft: 0
    }));


    // Add cursor
    // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
    var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {
      behavior: "zoomX"
    }));
    cursor.lineY.set("visible", false);

    var userId = [[${currentUser.id}]];
    console.log('User ID:', userId);
    // Fetch data for both systolic and diastolic pressures
    fetch('/api/chart/data?userId=' + userId)
  .then(response => response.json())
  .then(data => {
    // Sort the data array by time in ascending order
    data.sort((a, b) => new Date(a.date).getTime() - new Date(b.date).getTime());

    // Log the fetched data to console for debugging
    console.log('Fetched data:', data);

    // Initialize empty arrays to store processed data for systolic and diastolic pressures
    var chartData = [];
    var chartDataDiastolic = [];

    // Iterate over each item in the sorted data
    data.forEach((item, index) => {
      // Transform the date into Unix time type
      var unixTime = new Date(item.date).getTime();

      // Push the transformed data to the chartData array for systolic pressure
      chartData.push({
        date: unixTime,
        value: item.sysPressure // Adjust this based on your data structure
      });

      // Push the transformed data to the chartDataDiastolic array for diastolic pressure
      chartDataDiastolic.push({
        date: unixTime,
        diastolicValue: item.diasPressure // Adjust this based on your data structure
      });
    });

    // Set the chart data for systolic pressure
    series.data.setAll(chartData);

    // Set the chart data for diastolic pressure
    seriesDiastolic.data.setAll(chartDataDiastolic);

  })
  .catch(error => {
    console.error('Error fetching chart data:', error);
  });


    // Create axes
    // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
    var xAxis = chart.xAxes.push(am5xy.DateAxis.new(root, {
  maxDeviation: 0,
  baseInterval: {
    timeUnit: "hour",
    count: 3 // Set the number of hours as the interval
  },
  renderer: am5xy.AxisRendererX.new(root, {
    minorGridEnabled: true,
    minGridDistance: 200,
    minorLabelsEnabled: true
  }),
  tooltip: am5.Tooltip.new(root, {})
}));

// Format for main intervals (3 hours)
xAxis.set("dateFormats", {
  hour: "MM-dd HH:mm" // Format for hours, minutes, month, and date
});

// Format for minor intervals (hours and minutes)
xAxis.set("minorDateFormats", {
  hour: "HH:mm" // Format for hours and minutes
});

    var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
      renderer: am5xy.AxisRendererY.new(root, {})
    }));


    // Add series
    // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
    var series = chart.series.push(am5xy.LineSeries.new(root, {
      name: "Series",
      xAxis: xAxis,
      yAxis: yAxis,
      valueYField: "value",
      valueXField: "date",
      tooltip: am5.Tooltip.new(root, {
        labelText: "{valueY}"
      })
    }));

    // Add series for diastolic pressure
    var seriesDiastolic = chart.series.push(am5xy.LineSeries.new(root, {
      name: "Diastolic",
      xAxis: xAxis,
      yAxis: yAxis,
      valueYField: "diastolicValue",
      valueXField: "date",
      tooltip: am5.Tooltip.new(root, {
        labelText: "{valueY}"
      })
    }));


    // Actual bullet
    series.bullets.push(function () {
      var bulletCircle = am5.Circle.new(root, {
        radius: 5,
        fill: series.get("fill")
      });
      return am5.Bullet.new(root, {
        sprite: bulletCircle
      })
    })

    // Actual bullet for diastolic series
    seriesDiastolic.bullets.push(function () {
      var bulletCircle = am5.Circle.new(root, {
        radius: 5,
        fill: seriesDiastolic.get("fill")
      });
      return am5.Bullet.new(root, {
        sprite: bulletCircle
      })
    });


    // Add scrollbar
    // https://www.amcharts.com/docs/v5/charts/xy-chart/scrollbars/
    chart.set("scrollbarX", am5.Scrollbar.new(root, {
      orientation: "horizontal"
    }));



    // Make stuff animate on load
    // https://www.amcharts.com/docs/v5/concepts/animations/
    series.appear(1000);
    chart.appear(1000, 100);

    document.addEventListener('DOMContentLoaded', function() {
        // Get all elements with the class "img-link"
        var imgLinks = document.querySelectorAll('.img-link');

        // Iterate through each link and check the date condition
        imgLinks.forEach(function(link) {
            // Get the date attribute
            var dateString = link.getAttribute('data-date');

            // Parse the date string to a JavaScript Date object
            var linkDate = new Date(dateString);

            // Replace this with your date comparison logic
            var currentDate = new Date();  // Current date

            // Check if the date is within 7 days
            if (currentDate.getTime() - linkDate.getTime() >= 7 * 24 * 60 * 60 * 1000) {
                // If not within 7 days, disable the link
                link.classList.add('disabled-link');
            }
        });
    });
</script>
</body>
</html>