<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <title>eDnevnik tlaka - Početna stranica</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <div class="pt-2">
                <h1 class="centered-text custom-color">eDnevnik tlaka</h1>
                <div class="centered-text row mb-2 custom-color fs-4">
                    <span>Pregled mjerenja tlaka</span>
                </div>
                <div class="centered-text custom-color fs-1">
                    <span th:text="${currentUser.getFname()}"></span>
                    <span th:text="${currentUser.getLname()}"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="d-grid gap-2">
                    <button onclick="window.location.href='patientEnterTherapy'" class="btn btn-outline-primary" type="button">Dodaj/uredi kroničnu terapiju</button>
                    <button onclick="window.location.href='patientNewRecord'" class="btn btn-outline-primary" type="button">Unesi novo mjerenje</button>
                    <button onclick="window.location.href='showEditPatientData'" class="btn btn-outline-primary" type="button">Uredi moje podatke</button>
                    <button onclick="window.location.href='login'" class="btn btn-outline-danger" type="button">Odjava</button>
                </div>
            </div>
            <div class="row mb-2 custom-color fs-6">
                <span>Napomena: Prije nego što krenete unositi Vaše rezultate mjerenja tlaka, molimo Vas da unesete svoju kroničnu terapiju.</span>
            </div>
            <table id="patients" class="table table-md table-borderless table-hover align-middle">
                <thead>
                <tr>
                    <th>Datum</th>
                    <th>Vrijeme</th>
                    <th>Sistol. tlak</th>
                    <th>Dijastol. tlak</th>
                    <th>Puls</th>
                    <th>Bilješka</th>
                    <th>Uredi</th>
                    <!--<th>Obriši</th>-->
                </tr>
                </thead>
                <tbody class="table-group-divider text-nowrap">
                <tr th:each="record : ${recordList}">
                    <td th:text="${record.date}">Primjer</td>
                    <td th:text="${record.time}">Primjer</td>
                    <td th:text="${record.sysPressure}">Primjer</td>
                    <td th:text="${record.diasPressure}">Primjer</td>
                    <td th:text="${record.heartRate}">Primjer</td>
                    <td th:text="${record.note}">Primjer</td>
                    <td><a th:href="@{'/showEditRecord?id='+ ${record.id}}"><img src="images/edit.png" class="img-fluid" style="width: 20px;"></a></td>
                    <!--<td><a th:href="@{'/deleteRecord?id='+ ${record.id}}"><img src="images/trash_can.png" class="img-fluid" style="width: 20px;"></a></td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>