<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="script.js"></script>
    <title>eDnevnik tlaka - Terapija</title>
</head>
<body>

<div class="container">
    <!-- Top Navigation Menu -->
    <div class="topnav">
        <a href="#home" class="active">eDnevnik tlaka</a>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
            <a th:href="@{'/patientEnterTherapy'}"> Dodaj/uredi kroničnu terapiju</a>
            <a th:href="@{'/showEditPatientData'}"> Moji podaci</a>
            <a th:href="@{'/changePassword'}"> Promijeni lozinku</a>
            <a th:href="@{'/records'}"> Pocetna</a>
            <a href="/login"> Log out</a>
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <div class="pt-2">
                <h1 class="centered-text custom-color">eDnevnik tlaka</h1>
                <div class="centered-text row mb-2 custom-color fs-4">
                    <span>Unos/uređivanje terapije</span>
                </div>
                <div class="centered-text custom-color fs-1">
                    <span th:text="${currentUser.getFname()}"></span>
                    <span th:text="${currentUser.getLname()}"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="d-grid gap-2">

                </div>
            </div>
            <table id="patients" class="table table-md table-borderless table-hover align-middle">
                <thead>
                <tr>
                    <th>Naziv lijeka</th>
                    <th>Doza (mg)</th>
                    <th>Kol.</th>
                    <th>Vrijeme primj.</th>
                    <th>Obriši</th>
                </tr>
                </thead>
                <tbody class="table-group-divider text-nowrap">
                <tr th:each="therapy : ${therapyPlanList}">
                    <td th:text="${therapy.nameMedicine}">Primjer</td>
                    <td th:text="${therapy.dosage}">Primjer</td>
                    <td th:text="${therapy.quantity}">Primjer</td>
                    <td th:text="${therapy.dayPart}">Primjer</td>
                    <td><a th:href="@{'/deleteTherapy?id='+ ${therapy.id}}"><img src="images/trash_can.png" class="img-fluid" style="width: 20px;"></a></td>
                </tr>
                </tbody>
            </table>
            <br>
            <form action="/addNewTherapy">
                <div class="form-group row">
                    <div class="col-12">
                        <label for="name" class="col-form-label">Naziv lijeka:</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Unesite naziv lijeka" pattern="[a-zA-ZčćžšđČĆŽŠĐ-]+" required>
                    </div>
                    <div class="col-12">
                        <label for="dosage" class="col-form-label">Doza:</label>
                        <input type="number" step="any" class="form-control" id="dosage" name="dosage" placeholder="Unesite dozu (u mg)" min="0.01" max="5000" required>
                    </div>
                    <div class="col-12">
                        <label for="quantity" class="col-form-label">Količina:</label>
                        <input type="number" step="any" class="form-control" id="quantity" name="quantity" placeholder="Unesite količinu" min="0.01" max="10" required>
                    </div>
                    <div class="col-12">
                        <label for="dayPart" class="col-form-label">Vrijeme primjene:</label>
                        <select id="dayPart" name="dayPart" class="form-control">
                            <option value="jutro">jutro</option>
                            <option value="podne">podne</option>
                            <option value="večer">večer</option>
                        </select>
                        <input type="checkbox" id="iregular" name="iregular" hidden>
                    </div>
                </div>
                <div class="input-group mt-3">
                    <button class="btn btn-og btn-primary col-12 mb-2" type="submit">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>